node_modules/
package-lock.json
Chrome
Chrome.rar

command
.env
nginx.js
test.js
test2.js
browsers.test.http

.env
screenshots/
logs/

# Chrome installation files
google-chrome-stable_current_amd64.deb
*.deb